* {
  padding: 0;
  margin: 0;
  outline: none !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px; }
  html.overlayed, body.overlayed {
    overflow: hidden; }

input[type="text"], select, textarea {
  display: block;
  width: 100%; }

.form-group {
  margin-bottom: 15px; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; }

main {
  min-height: 100%;
  overflow: hidden; }

a {
  color: #53cfe0;
  -webkit-transition: .2s;
  transition: .2s;
  border-bottom: 1px solid transparent; }
  a:hover {
    text-decoration: none;
    color: #03678b;
    border-color: rgba(3, 103, 139, 0.6); }
  a:focus {
    text-decoration: none;
    /*color: $lightblue;*/ }

img.adaptive {
  display: block;
  width: 100%;
  height: auto; }

.clear {
  list-style: none;
  margin: 0;
  padding: 0; }

.right-align {
  text-align: right; }

.verticaly-middle {
  display: table;
  width: 100%;
  height: 100%; }
  .verticaly-middle .inner {
    display: table-cell;
    vertical-align: middle; }

.image-contain {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .image-contain img {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%; }
  .image-contain.thin {
    padding-top: 50%; }

.image-cover {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .image-cover img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .image-cover.vertical img {
    top: 50%;
    left: 0;
    height: auto;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .image-cover.collapsed {
    padding-top: 30%; }

.text-right {
  text-align: right; }

.title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  margin: 30px 0; }
  .title span {
    color: #03678b; }
  .title.marged-top {
    margin-top: 15px; }

.paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
  margin: 25px 0; }

.video-wrapper {
  position: relative;
  padding-top: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px #ddd; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.section {
  padding: 70px 0; }

.title.collapsed {
  margin: 0; }

.caption {
  font-size: 22px;
  font-weight: 300; }

.banner {
  position: relative;
  color: #fff;
  padding: 20px 0;
  line-height: 1; }
  .banner .image-cover {
    padding: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .banner .container {
    position: relative;
    z-index: 2; }
  .banner .btn {
    margin-top: 10px; }

.grey-section {
  background: #fafcfc; }

.text-center {
  text-align: center; }

.none {
  display: none; }

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 10;
  background: #fff; }
  .main-header .logo {
    display: inline-block;
    height: 75px;
    padding: 8px 0;
    border: none; }
    .main-header .logo img {
      display: inline-block;
      width: auto;
      height: 100%; }
    .main-header .logo:hover {
      opacity: .7; }
  .main-header .main-nav {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 25px; }
    .main-header .main-nav ul {
      font-size: 0;
      cursor: default; }
      .main-header .main-nav ul li {
        display: inline-block; }
      .main-header .main-nav ul a {
        display: block;
        font-size: 13px;
        color: #000;
        padding: 25px;
        border: none; }
        .main-header .main-nav ul a:hover {
          color: #03678b; }
  .main-header .user-group {
    display: inline-block;
    background: #f7954e;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border-radius: 3px;
    font-size: 0; }
    .main-header .user-group li {
      display: inline-block; }
      .main-header .user-group li:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 14px;
        vertical-align: middle;
        position: relative;
        bottom: 5px;
        opacity: .5;
        -webkit-transition: .3s;
        transition: .3s;
        background: #fff; }
      .main-header .user-group li:last-child:after {
        display: none; }
      .main-header .user-group li:first-child a {
        border-radius: 3px 0 0 3px; }
      .main-header .user-group li:last-child a {
        border-radius: 0 3px 3px 0; }
    .main-header .user-group a {
      color: #fff;
      font-size: 14px;
      display: inline-block;
      padding: 5px 10px;
      border: none; }
      .main-header .user-group a:hover {
        background: #f5781d; }
    .main-header .user-group .fa {
      margin-right: 5px; }
    .main-header .user-group:hover li:after {
      -webkit-transform: scale(1, 2);
      -ms-transform: scale(1, 2);
      transform: scale(1, 2);
      opacity: 0; }

.main-slider {
  position: relative;
  height: 100vh;
  color: #fff;
  font-weight: 300;
  white-space: nowrap; }
  .main-slider .owl-wrapper-outer,
  .main-slider .owl-wrapper,
  .main-slider .owl-item,
  .main-slider .item {
    height: 100%; }
  .main-slider .owl-item {
    position: relative;
    white-space: normal; }
  .main-slider .image-cover {
    padding-top: 0;
    height: 100%; }
    .main-slider .image-cover:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #03678b;
      opacity: .8; }
  .main-slider .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative; }
  .main-slider .content {
    display: table;
    text-align: center;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3; }
    .main-slider .content .aligner {
      display: table-cell;
      vertical-align: middle; }
  .main-slider .title {
    line-height: 1.2;
    font-size: 54px;
    margin: 30px auto;
    max-width: 1000px; }
  .main-slider .caption {
    font-size: 22px;
    margin: 30px auto;
    max-width: 1000px; }
    .main-slider .caption:after {
      content: '';
      display: block;
      width: 30px;
      height: 2px;
      background: #fff;
      margin: 20px auto 0; }
  .main-slider .owl-pagination {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 2;
    table-layout: fixed;
    border-collapse: collapse; }
    .main-slider .owl-pagination .owl-page {
      display: table-cell;
      vertical-align: top;
      height: 4px;
      border: 1px solid #53cfe0;
      position: relative;
      -webkit-transition: .3s;
      transition: .3s;
      cursor: pointer; }
      .main-slider .owl-pagination .owl-page span {
        position: absolute;
        display: block;
        top: -30px;
        bottom: -20px;
        left: 0;
        right: 0; }
      .main-slider .owl-pagination .owl-page:first-child {
        border-left: none; }
      .main-slider .owl-pagination .owl-page:last-child {
        border-right: none; }
      .main-slider .owl-pagination .owl-page:hover, .main-slider .owl-pagination .owl-page:focus {
        background: rgba(83, 207, 224, 0.5); }
      .main-slider .owl-pagination .owl-page.active {
        background: #53cfe0; }

.main-slider-outer .scrollto-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 34px;
  height: 34px;
  margin-left: -17px;
  line-height: 34px;
  text-align: center;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-weight: 300;
  font-size: 26px;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 4; }
  .main-slider-outer .scrollto-btn:hover {
    background: #fff;
    color: #000; }

.grabbing {
  cursor: move; }

.btn {
  display: inline-block;
  border-radius: 3px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 11px 15px;
  border: none;
  color: #fff;
  text-align: center;
  background: #f7954e;
  -webkit-transition: .3s;
  transition: .3s; }
  .btn:hover, .btn:focus {
    color: #fff;
    background: #f5781d; }

.btn.btn-spaced {
  padding-left: 30px;
  padding-right: 30px; }

.btn.btn-transparent {
  border: 1px solid #fff;
  background: transparent; }
  .btn.btn-transparent:hover, .btn.btn-transparent:focus {
    color: #000;
    background: #fff; }

.btn.btn-large {
  padding: 16px 20px;
  font-size: 18px;
  height: 50px; }

.btn.btn-block {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }

.testimonials-outer {
  position: relative; }
  .testimonials-outer .owl-item {
    overflow: hidden;
    padding: 5px; }
  .testimonials-outer .testimonial {
    display: table;
    table-layout: fixed;
    width: 100%; }
    .testimonials-outer .testimonial .image-col,
    .testimonials-outer .testimonial .content-col {
      display: table-cell;
      vertical-align: top; }
    .testimonials-outer .testimonial .image-col {
      width: 120px; }
    .testimonials-outer .testimonial .image-cover {
      padding-top: 100%;
      background: #000;
      border-radius: 50%;
      box-shadow: 0 0 0 5px #ddd;
      margin: 5px; }
    .testimonials-outer .testimonial .content-col {
      padding-left: 50px; }
    .testimonials-outer .testimonial .blockquote {
      padding: 20px 50px 20px 100px;
      box-shadow: 0 1px 0 1.5px #ddd;
      border-radius: 1px;
      position: relative;
      font-style: italic;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.7;
      background: url(../../img/quote.png) no-repeat 75px 25px #fafcfc; }
      .testimonials-outer .testimonial .blockquote:before {
        content: '';
        display: block;
        border: 17px solid transparent;
        border-bottom: 16px solid #ddd;
        position: absolute;
        -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        transform-origin: bottom right;
        top: 60px;
        right: 100%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -16px;
        z-index: 2; }
      .testimonials-outer .testimonial .blockquote:after {
        content: '';
        display: block;
        border: 15px solid transparent;
        border-bottom: 15px solid #fafcfc;
        position: absolute;
        -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        transform-origin: bottom right;
        margin-top: -15px;
        top: 60px;
        right: 100%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 3; }
    .testimonials-outer .testimonial .footer {
      margin: 15px 0 0;
      font-size: 14px;
      color: #787878; }
      .testimonials-outer .testimonial .footer a {
        color: #f7954e;
        font-size: 12px;
        display: inline-block;
        margin-top: 5px; }
        .testimonials-outer .testimonial .footer a:hover {
          border-color: #f7954e; }
  .testimonials-outer .owl-pagination {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -20px; }
    .testimonials-outer .owl-pagination .owl-page {
      display: inline-block;
      width: 16px;
      height: 16px;
      padding: 6px; }
      .testimonials-outer .owl-pagination .owl-page span {
        display: block;
        width: 100%;
        height: 100%;
        background: #ddd;
        -webkit-transition: .3s;
        transition: .3s; }
      .testimonials-outer .owl-pagination .owl-page:hover span {
        background: #53cfe0; }
      .testimonials-outer .owl-pagination .owl-page.active span {
        background: #03678b; }

.graph {
  text-align: center;
  pointer-events: none; }
  .graph .title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0 20px; }
  .graph .caption {
    font-size: 14px; }
  .graph .chart {
    position: relative;
    padding-top: 80%;
    margin: -10% 0; }
  .graph svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .graph path {
    pointer-events: auto; }
  .graph .counter {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -50px; }

.nvd3.nv-stackedarea path.nv-area {
  fill-opacity: 1; }

.nv-legendWrap.nvd3-svg,
.nv-background,
.nv-y.nv-axis.nvd3-svg,
.nv-x.nv-axis.nvd3-svg,
.nvtooltip.xy-tooltip {
  display: none; }

.nvd3 text {
  font-size: 20px;
  fill: #fff !important; }

.nv-pieLabels .nv-label:last-child text {
  fill: #555 !important; }

.main-footer {
  background: #03678b;
  font-size: 13px; }
  .main-footer .logo {
    display: inline-block;
    height: 60px;
    padding: 10px 0;
    border: none; }
    .main-footer .logo img {
      display: inline-block;
      width: auto;
      height: 100%; }
    .main-footer .logo:hover {
      opacity: .7; }
  .main-footer .menu-list {
    display: inline-block;
    font-size: 0; }
    .main-footer .menu-list li {
      display: inline-block; }
    .main-footer .menu-list a {
      font-size: 13px;
      text-transform: uppercase;
      color: #b8cbd5;
      line-height: 20px;
      padding: 20px 10px;
      display: block; }
      .main-footer .menu-list a:hover {
        color: #fff; }
  .main-footer .copyright {
    background: #01b9c2;
    color: #fff;
    padding: 10px 0;
    line-height: 20px; }
  .main-footer .socials-list {
    display: block;
    cursor: default;
    font-size: 0;
    line-height: 20px;
    margin-top: -5px;
    margin-bottom: -5px; }
    .main-footer .socials-list li {
      display: inline-block;
      margin-left: 10px; }
    .main-footer .socials-list a {
      font-size: 20px;
      display: block;
      border: none;
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center; }
      .main-footer .socials-list a:hover {
        color: #03678b; }

@media (max-width: 991px) {
  .main-slider .title {
    font-size: 48px;
    margin: 30px auto; }
  .main-slider .caption {
    font-size: 22px; }
  .main-slider .aligner {
    padding-left: 10%;
    padding-right: 10%; }
  .caption-footer {
    margin-bottom: 30px; }
  .section {
    padding: 25px 0; }
  .banner .image-cover img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 250%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .banner .image-cover.vertical img {
    top: 50%;
    left: 0;
    height: auto;
    width: 250%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .banner .btn {
    margin-top: 10px; }
  .graph .caption {
    font-size: 14px; }
  .graph .chart {
    padding-top: 100%;
    margin: -10% 0; } }

@media (max-width: 768px) {
  .main-header {
    height: 80px;
    position: fixed; }
    .main-header .main-nav-toggle {
      display: inline-block;
      width: 80px;
      height: 80px;
      vertical-align: middle;
      margin-right: -15px;
      margin-left: 10px;
      border: none;
      padding: 15px 25px;
      background: #fff;
      -webkit-transition: .3s;
      transition: .3s;
      overflow: hidden;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      .main-header .main-nav-toggle i {
        display: block;
        height: 3px;
        border-radius: 4px;
        background: #000;
        margin: 5px 0;
        -webkit-transition: .4s;
        transition: .4s; }
      .main-header .main-nav-toggle:hover {
        background: #f7f7f7; }
      .main-header .main-nav-toggle.active {
        background: #f7f7f7; }
        .main-header .main-nav-toggle.active i:nth-child(1) {
          -webkit-transform: translateY(8px) rotate(45deg);
          -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg); }
        .main-header .main-nav-toggle.active i:nth-child(3) {
          -webkit-transform: translateY(-8px) rotate(-45deg);
          -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg); }
        .main-header .main-nav-toggle.active i:nth-child(2) {
          -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
          transform: translateX(100%);
          -webkit-transition-delay: .1s;
          transition-delay: .1s;
          opacity: 0; }
    .main-header .logo {
      height: 80px;
      padding: 15px 0; }
    .main-header .user-col {
      position: static;
      background: #fff; }
    .main-header .main-nav {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      text-align: center;
      height: 1px;
      z-index: -1;
      border-top: 1px solid #eee; }
      .main-header .main-nav ul {
        display: block; }
        .main-header .main-nav ul li {
          display: block;
          -webkit-transition: .3s;
          transition: .3s;
          opacity: 0;
          pointer-events: none; }
          .main-header .main-nav ul li:nth-child(1) {
            background: rgba(255, 255, 255, 0.9);
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
          .main-header .main-nav ul li:nth-child(2) {
            background: rgba(255, 255, 255, 0.8);
            -webkit-transform: translateY(-200%);
            -ms-transform: translateY(-200%);
            transform: translateY(-200%); }
          .main-header .main-nav ul li:nth-child(3) {
            background: rgba(255, 255, 255, 0.7);
            -webkit-transform: translateY(-300%);
            -ms-transform: translateY(-300%);
            transform: translateY(-300%); }
          .main-header .main-nav ul li:nth-child(4) {
            background: rgba(255, 255, 255, 0.6);
            -webkit-transform: translateY(-400%);
            -ms-transform: translateY(-400%);
            transform: translateY(-400%); }
          .main-header .main-nav ul li:nth-child(5) {
            background: rgba(255, 255, 255, 0.5);
            -webkit-transform: translateY(-500%);
            -ms-transform: translateY(-500%);
            transform: translateY(-500%); }
          .main-header .main-nav ul li:nth-child(6) {
            background: rgba(255, 255, 255, 0.4);
            -webkit-transform: translateY(-600%);
            -ms-transform: translateY(-600%);
            transform: translateY(-600%); }
          .main-header .main-nav ul li:nth-child(7) {
            background: rgba(255, 255, 255, 0.3);
            -webkit-transform: translateY(-700%);
            -ms-transform: translateY(-700%);
            transform: translateY(-700%); }
          .main-header .main-nav ul li:nth-child(8) {
            background: rgba(255, 255, 255, 0.2);
            -webkit-transform: translateY(-800%);
            -ms-transform: translateY(-800%);
            transform: translateY(-800%); }
          .main-header .main-nav ul li:nth-child(9) {
            background: rgba(255, 255, 255, 0.1);
            -webkit-transform: translateY(-900%);
            -ms-transform: translateY(-900%);
            transform: translateY(-900%); }
          .main-header .main-nav ul li:nth-child(10) {
            background: rgba(255, 255, 255, 0);
            -webkit-transform: translateY(-1000%);
            -ms-transform: translateY(-1000%);
            transform: translateY(-1000%); }
        .main-header .main-nav ul a {
          font-size: 18px; }
          .main-header .main-nav ul a:hover {
            background: #fff; }
      .main-header .main-nav.active ul li {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        opacity: 1;
        border-bottom: 1px solid transparent;
        -webkit-transition: .4s;
        transition: .4s; }
        .main-header .main-nav.active ul li:nth-last-child(1) {
          -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s; }
        .main-header .main-nav.active ul li:nth-last-child(2) {
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        .main-header .main-nav.active ul li:nth-last-child(3) {
          -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }
        .main-header .main-nav.active ul li:nth-last-child(4) {
          -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s; }
        .main-header .main-nav.active ul li:nth-last-child(5) {
          -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }
        .main-header .main-nav.active ul li:nth-last-child(6) {
          -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s; }
        .main-header .main-nav.active ul li:nth-last-child(7) {
          -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s; }
        .main-header .main-nav.active ul li:nth-last-child(8) {
          -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s; }
        .main-header .main-nav.active ul li:nth-last-child(9) {
          -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s; }
        .main-header .main-nav.active ul li:nth-last-child(10) {
          -webkit-transition-delay: 1s;
          transition-delay: 1s; }
    .main-header.white .main-nav ul li {
      border-bottom: 1px solid #eee; }
      .main-header.white .main-nav ul li:nth-child(1) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(2) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(3) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(4) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(5) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(6) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(7) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(8) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(9) {
        background: #fff; }
      .main-header.white .main-nav ul li:nth-child(10) {
        background: #fff; }
  .caption {
    font-size: 16px; }
  .main-slider-outer .scrollto-btn {
    bottom: 10%; }
  .main-slider .title {
    font-size: 38px; }
  .title {
    margin: 15px 0;
    font-size: 34px; }
    .title.marged-top {
      margin-top: 0; }
  .paragraph {
    margin: 15px 0; }
  .graph {
    padding-bottom: 10px; }
    .graph:nth-child(2) {
      padding-top: 30px; }
    .graph .chart {
      width: 50%;
      margin: -5% auto;
      padding-top: 50%; }
  .testimonials-outer .testimonial {
    display: block; }
    .testimonials-outer .testimonial .image-col,
    .testimonials-outer .testimonial .content-col {
      display: block; }
    .testimonials-outer .testimonial .image-col {
      width: 100px;
      margin: 0 auto;
      padding: 5px; }
    .testimonials-outer .testimonial .image-cover {
      margin: 0; }
    .testimonials-outer .testimonial .content-col {
      padding-left: 0;
      padding-top: 30px; }
    .testimonials-outer .testimonial .blockquote {
      padding: 20px 20px 20px 50px;
      background: url(../../img/quote.png) no-repeat 20px 25px #fafcfc; }
      .testimonials-outer .testimonial .blockquote:before {
        top: auto;
        right: auto;
        left: 50%;
        bottom: 100%;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        margin-left: -106px;
        z-index: 2; }
      .testimonials-outer .testimonial .blockquote:after {
        top: auto;
        right: auto;
        left: 50%;
        bottom: 100%;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        margin-left: -100px;
        z-index: 3; }
    .testimonials-outer .testimonial .footer {
      padding-left: 50px; } }

@media (max-width: 420px) {
  .mobile-full {
    width: 100%; }
  .btn {
    font-size: 14px; }
  .main-header {
    height: 50px; }
    .main-header .logo {
      height: 50px;
      padding: 10px 0; }
    .main-header .main-nav-toggle {
      width: 50px;
      height: 50px;
      margin-left: 5px;
      padding: 5px 15px; }
      .main-header .main-nav-toggle i {
        height: 2px; }
      .main-header .main-nav-toggle.active i:nth-child(1) {
        -webkit-transform: translateY(7px) rotate(45deg);
        -ms-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg); }
      .main-header .main-nav-toggle.active i:nth-child(3) {
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg); }
      .main-header .main-nav-toggle.active i:nth-child(2) {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
        opacity: 0; }
    .main-header .user-group a {
      color: #fff;
      font-size: 12px;
      display: inline-block;
      padding: 6px 8px; }
    .main-header .user-group .fa {
      margin-right: 3px; }
    .main-header .main-nav {
      top: 50px; }
      .main-header .main-nav ul a {
        font-size: 14px;
        padding: 10px; }
  .main-slider .title {
    font-size: 26px;
    margin: 10px auto; }
  .main-slider .caption {
    font-size: 16px;
    margin: 10px auto; }
    .main-slider .caption:after {
      margin: 10px auto 20px; }
  .title {
    font-size: 24px; }
  .caption-footer {
    margin-bottom: 20px; }
  .banner {
    text-align: center; }
    .banner .image-cover img,
    .banner .image-cover.vertical img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
    .banner .btn {
      margin-top: 10px; }
  .testimonials-outer .testimonial .content-col {
    padding-left: 0;
    padding-top: 10px; }
  .testimonials-outer .testimonial .blockquote {
    padding: 15px 15px 15px 40px;
    background: url(../../img/quote.png) no-repeat 15px 20px #fafcfc;
    font-size: 14px; }
  .testimonials-outer .testimonial .footer {
    padding-left: 40px; }
    .testimonials-outer .testimonial .footer a {
      display: inline; }
  .graph {
    padding-bottom: 10px; }
    .graph:nth-child(2) {
      padding-top: 30px; }
    .graph .chart {
      width: 80%;
      margin: -12% auto;
      padding-top: 80%; }
  .main-footer {
    white-space: nowrap; }
    .main-footer .mobile-full {
      text-align: left; }
    .main-footer .menu-list {
      display: block;
      padding-bottom: 10px; }
      .main-footer .menu-list li {
        display: block; }
      .main-footer .menu-list a {
        padding: 10px 0; } }
